{% extends 'base.html' %}

{% load static %}

{% block title %}Blog Post{% endblock title %}

{% block content %}

<section class="topics-detail-section section-padding" id="topics-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 m-auto">
                <h1>Blog Posts</h1>
                <ul>
                    {% for post in posts %}
                        {% if post.live %}
                            <li>{{ post.title }}</li> 
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %}