{% extends 'base.html' %}

{% load static %}

{% block title %}{{ post.title }}i{% endblock title %}

{% block content %}

{% include '_posts_header.html' %}

<section class="topics-detail-section section-padding" id="topics-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 m-auto">
                <h1>{{ post.title }}</h1>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <p><strong>Description:</strong> {{ post.description }}</p>
                <p>Posted by {{ post.author.username }} on {{ post.created_at|date:"Y-m-d" }}</p>
                <div>{{ post.content|safe|linebreaks }}</div>
            </div>
        </div>
    </div>
</section>

{% include '_subscribe.html' %}

{% endblock content %}