{% extends 'base.html' %}

{% load static %}

{% block title %}Blog Post{% endblock title %}

{% block content %}

<section class="topics-detail-section section-padding" id="topics-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 m-auto">
                <h1>Blog Posts</h1>
                <ul>
                    {% for post in posts %}
                        {% if post.live %}
                        <li>
                            <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a> - 
                            <small>Posted on {{ post.created_at|date:"Y-m-d" }}</small>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %}